{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Cabify é uma empresa multinacional de rede de transporte.</P> 
<p>Ela fornece carros de alto padrão para serem solicitados através de seu aplicativo para smartphone.</P> 
<p>Os carros são dirigidos pelos seus donos, que precisam passar por um rigoroso processo seletivo.</P> 
<p>Com operações na América Latina, Espanha e Portugal, a empresa oferece dois serviços, um para empresas e outro para particulares.</p>

{% endblock %}
